{
    "openapi": "3.0.0",
    "info": {
        "title": "Sistema de Agendamento API",
        "description": "API REST para gerenciamento de agendamentos com autenticação JWT, gestão de dias fechados e QR Code para validação. Esta API permite criar, listar, visualizar e cancelar agendamentos, além de gerenciar dias bloqueados e validar QR Codes.",
        "termsOfService": "http://localhost:8000/terms",
        "contact": {
            "name": "Equipe de Desenvolvimento",
            "url": "https://github.com/seu-usuario/agendamento",
            "email": "dev@agendamento.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor de desenvolvimento"
        }
    ],
    "paths": {
        "/api/admin/agendamento": {
            "get": {
                "tags": [
                    "Agendamentos"
                ],
                "summary": "Listar agendamentos",
                "description": "Lista todos os agendamentos com filtros e paginação",
                "operationId": "f8f55e62efaf559b69aaffe082c880d0",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "data",
                        "in": "query",
                        "description": "Filtrar por data específica (Y-m-d, d-m-Y ou d/m/Y)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2023-12-15"
                        }
                    },
                    {
                        "name": "data_inicio",
                        "in": "query",
                        "description": "Filtrar a partir desta data (Y-m-d, d-m-Y ou d/m/Y)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2023-12-01"
                        }
                    },
                    {
                        "name": "data_fim",
                        "in": "query",
                        "description": "Filtrar até esta data (Y-m-d, d-m-Y ou d/m/Y)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2023-12-31"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por status do agendamento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ativo",
                                "cancelado",
                                "finalizado"
                            ],
                            "example": "ativo"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Filtrar por ID do usuário",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de agendamentos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "uuid": {
                                                "type": "string",
                                                "example": "550e8400-e29b-41d4-a716-446655440000"
                                            },
                                            "data": {
                                                "type": "string",
                                                "example": "15/12/2023"
                                            },
                                            "horario": {
                                                "type": "string",
                                                "example": "14:00"
                                            },
                                            "grupo": {
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "quantidade": {
                                                "type": "integer",
                                                "example": 2
                                            },
                                            "observacao": {
                                                "type": "string",
                                                "example": "Observação do agendamento"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agendamentos"
                ],
                "summary": "Criar agendamento",
                "description": "Cria um novo agendamento. Requer dados pessoais completos, data/horário válidos e respeita regras de capacidade e disponibilidade.",
                "operationId": "4861258811e82db7f7c4e6615ec6cbc7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "cpf",
                                    "rg",
                                    "telefone",
                                    "nacionalidade",
                                    "data",
                                    "horario",
                                    "quantidade"
                                ],
                                "properties": {
                                    "uuid": {
                                        "description": "UUID opcional para identificação única",
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "email": {
                                        "description": "E-mail único do solicitante",
                                        "type": "string",
                                        "format": "email",
                                        "example": "joao.silva@email.com"
                                    },
                                    "cpf": {
                                        "description": "CPF único (11 dígitos, apenas números)",
                                        "type": "string",
                                        "pattern": "^\\d{11}$",
                                        "example": "12345678901"
                                    },
                                    "rg": {
                                        "description": "RG do solicitante (máximo 20 caracteres)",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "12.345.678-9"
                                    },
                                    "telefone": {
                                        "description": "Telefone único (10 ou 11 dígitos, apenas números)",
                                        "type": "string",
                                        "pattern": "^\\d{10,11}$",
                                        "example": "11987654321"
                                    },
                                    "nacionalidade": {
                                        "description": "Nacionalidade do solicitante",
                                        "type": "string",
                                        "enum": [
                                            "brasileiro",
                                            "estrangeiro"
                                        ],
                                        "example": "brasileiro"
                                    },
                                    "deficiencia": {
                                        "description": "Indica se a pessoa possui deficiência (opcional)",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "data": {
                                        "description": "Data do agendamento (mínimo: a partir de amanhã, não pode ser segunda-feira)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-12-15"
                                    },
                                    "horario": {
                                        "description": "Horário do agendamento (09:00 às 17:00, apenas horários cheios)",
                                        "type": "string",
                                        "pattern": "^(09|10|11|12|13|14|15|16|17):00$",
                                        "example": "14:00"
                                    },
                                    "grupo": {
                                        "description": "Indica se é agendamento em grupo (grupos: 10-50 pessoas, individual: 1 pessoa)",
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "quantidade": {
                                        "description": "Quantidade de pessoas (individual: 1, grupo: 10-50)",
                                        "type": "integer",
                                        "maximum": 50,
                                        "minimum": 1,
                                        "example": 1
                                    },
                                    "observacao": {
                                        "description": "Observações adicionais (opcional)",
                                        "type": "string",
                                        "example": "Necessário acessibilidade para cadeirante"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agendamento criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "Agendamento realizado com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "cpf": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Este CPF já está vinculado a um agendamento."
                                                    }
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Não é possível agendar às segundas-feiras (bloqueio automático)."
                                                    }
                                                },
                                                "horario": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Os horários disponíveis são apenas entre 09:00 e 17:00, em intervalos de 1 hora."
                                                    }
                                                },
                                                "quantidade": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Capacidade excedida: já existem 45 pessoas para 14:00. Restam apenas 5 vagas."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token de autenticação inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/agendamento/{uuid}": {
            "get": {
                "tags": [
                    "Agendamentos"
                ],
                "summary": "Visualizar agendamento",
                "description": "Visualiza os dados de um agendamento específico pelo UUID",
                "operationId": "9adb7e74ccec2d3ac4fbda0ab28a816b",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do agendamento",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "uuid": {
                                            "type": "string",
                                            "example": "550e8400-e29b-41d4-a716-446655440000"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "15/12/2023"
                                        },
                                        "horario": {
                                            "type": "string",
                                            "example": "14:00"
                                        },
                                        "grupo": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "quantidade": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "observacao": {
                                            "type": "string",
                                            "example": "Observação do agendamento"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Agendamento não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Agendamento não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/agendamento/{id}": {
            "delete": {
                "tags": [
                    "Agendamentos"
                ],
                "summary": "Cancelar agendamento",
                "description": "Cancela um agendamento existente",
                "operationId": "b8e8969cc3ca4223a778b01e5c708547",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agendamento cancelado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "Agendamento cancelado com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/agendamento/vagas-por-horario": {
            "get": {
                "tags": [
                    "Agendamentos"
                ],
                "summary": "Consultar vagas por horário",
                "description": "Consulta a disponibilidade de vagas em uma data específica",
                "operationId": "6fcf6c0012911d6b89c23b7882df1dd1",
                "parameters": [
                    {
                        "name": "data",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2023-12-15"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Disponibilidade de vagas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "string",
                                            "example": "2023-12-15"
                                        },
                                        "bloqueado": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "motivo": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "horarios": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "hora": {
                                                        "type": "string",
                                                        "example": "09:00"
                                                    },
                                                    "vagas": {
                                                        "type": "integer",
                                                        "example": 48
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/gestao-dias": {
            "get": {
                "tags": [
                    "Gestão de Dias"
                ],
                "summary": "Listar dias bloqueados",
                "description": "Lista todos os dias com bloqueios ou restrições",
                "operationId": "a438b513ea271e1e636e22354ec3dc92",
                "parameters": [
                    {
                        "name": "data",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2023-12-15"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de dias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "data": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2023-12-15"
                                                    },
                                                    "tipo": {
                                                        "type": "string",
                                                        "example": "bloqueio_total"
                                                    },
                                                    "observacao": {
                                                        "type": "string",
                                                        "example": "Feriado nacional"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/gestao-dias/{id}": {
            "get": {
                "tags": [
                    "Gestão de Dias"
                ],
                "summary": "Buscar dia por ID",
                "description": "Busca um dia específico por ID",
                "operationId": "86a0b39b8d25a49fa46a6043649a59bf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados do dia",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2023-12-15"
                                        },
                                        "horario_inicio": {
                                            "type": "string",
                                            "example": "08:00"
                                        },
                                        "horario_fim": {
                                            "type": "string",
                                            "example": "18:00"
                                        },
                                        "tipo": {
                                            "type": "string",
                                            "example": "bloqueio_total"
                                        },
                                        "observacao": {
                                            "type": "string",
                                            "example": "Feriado nacional"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Dia não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dia não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Gestão de Dias"
                ],
                "summary": "Atualizar dia",
                "description": "Atualiza um registro de dia existente",
                "operationId": "a5bc36500a1b349c08315c97b3a00591",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-12-15"
                                    },
                                    "horario_inicio": {
                                        "type": "string",
                                        "example": "08:00"
                                    },
                                    "horario_fim": {
                                        "type": "string",
                                        "example": "18:00"
                                    },
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "bloqueio_total",
                                            "bloqueio_parcial",
                                            "manutencao",
                                            "feriado"
                                        ],
                                        "example": "bloqueio_total"
                                    },
                                    "observacao": {
                                        "type": "string",
                                        "example": "Feriado nacional"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dia atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dia atualizado com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Dia não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dia não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Gestão de Dias"
                ],
                "summary": "Excluir dia",
                "description": "Exclui um registro de dia",
                "operationId": "3a15a2b940be93d50bd5a56feb22ee0a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dia excluído com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dia excluído com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Dia não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dia não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/gestao-dias/store": {
            "post": {
                "tags": [
                    "Gestão de Dias"
                ],
                "summary": "Criar novo dia bloqueado",
                "description": "Cria um novo registro de dia com bloqueio ou restrição",
                "operationId": "04ab9738f22ef8d4d489a0ba761be56c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "data",
                                    "horario_inicio",
                                    "horario_fim",
                                    "tipo"
                                ],
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-12-15"
                                    },
                                    "horario_inicio": {
                                        "type": "string",
                                        "example": "08:00"
                                    },
                                    "horario_fim": {
                                        "type": "string",
                                        "example": "18:00"
                                    },
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "bloqueio_total",
                                            "bloqueio_parcial",
                                            "manutencao",
                                            "feriado"
                                        ],
                                        "example": "bloqueio_total"
                                    },
                                    "observacao": {
                                        "type": "string",
                                        "example": "Feriado nacional"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Dia criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2023-12-15"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erro de validação",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dados inválidos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Login do usuário",
                "description": "Autentica um usuário e retorna um token de acesso",
                "operationId": "42f73b33a1e0a43645f398cf4816eb60",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123..."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "example": "João Silva"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciais inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "Usuário ou senha inválidos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/password/reset": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Redefinir senha",
                "description": "Redefine a senha do usuário usando token de reset",
                "operationId": "fd7ba52856eb1daa766b470920f1ccdf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "nova_senha"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "token": {
                                        "type": "string",
                                        "example": "abc123..."
                                    },
                                    "nova_senha": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Senha redefinida com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "Senha redefinida com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erro na redefinição",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "Token inválido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/password/request-reset": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Solicitar reset de senha",
                "description": "Solicita um token para reset de senha por email",
                "operationId": "1d61d671c874272f26a06bf4ce728176",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token enviado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "Token enviado para o e-mail se existir um usuário com esse e-mail."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/validar-qrcode/{uuid}": {
            "get": {
                "tags": [
                    "QR Code"
                ],
                "summary": "Validar QR Code",
                "description": "Valida um QR Code de agendamento",
                "operationId": "ec59a5401563eef45a72398f00a95390",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "abc123-def456-ghi789"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "QR Code válido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "QR Code válido"
                                        },
                                        "agendamento": {
                                            "properties": {
                                                "data": {
                                                    "type": "string",
                                                    "example": "15/12/2023"
                                                },
                                                "horario": {
                                                    "type": "string",
                                                    "example": "14:00"
                                                },
                                                "grupo": {
                                                    "type": "string",
                                                    "example": "Sim"
                                                },
                                                "quantidade": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "observacao": {
                                                    "type": "string",
                                                    "example": "Observação do agendamento"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "QR Code inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensagem": {
                                            "type": "string",
                                            "example": "QR Code inválido ou agendamento não encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Digite o token Bearer no formato: Bearer {seu-token-jwt}"
            }
        }
    },
    "tags": [
        {
            "name": "Autenticação",
            "description": "Operações de login, logout e gerenciamento de senhas"
        },
        {
            "name": "Agendamentos",
            "description": "Operações CRUD para agendamentos - criar, listar, visualizar e cancelar"
        },
        {
            "name": "Gestão de Dias",
            "description": "Gerenciamento de dias bloqueados, feriados e restrições de agendamento"
        },
        {
            "name": "QR Code",
            "description": "Validação de códigos QR para confirmação de agendamentos"
        }
    ]
}